* {
	font-size: medium;
}

ul {
	padding: 0%;
}

p {
	margin: 0% 0.5vw;
}

a {
	text-decoration: none;
	-webkit-text-fill-color: black;
}

.button,
button {
	user-select: none;
	cursor: pointer;
	
	width: auto;
	min-height: 3.5vh;
	min-width: 3.5vw;
	max-width: max-content;
	background-color: whitesmoke;

	font-size: medium;
	text-align: center;
	align-content: baseline;
	
	border-width: 2px;
	border-style: outset;
	border-color: buttonborder;
	border-image: initial;
}

.no-cursor {
	cursor: default;
}

.button:hover,
button:hover {
	background-color: gray;
	-webkit-text-fill-color: white;
}

.no-cursor:hover {
	-webkit-text-fill-color: unset;
	background-color: whitesmoke;
}

.active {
	background-color: gray;
	-webkit-text-fill-color: white;
}

.disabled {
	pointer-events: none;
}

.hidden {
	display: none;
}

.container-col {
	display: flex;
	flex-direction: column;
	row-gap: 0.5vw;
}

.center-child {
	align-items: center;
}

.right {
	align-self: flex-end;
}

.container-row {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	min-height: 4vh;
	width: auto;
	column-gap: 1vw;

	& .right {
		align-self: center;
	}
}

.container-normal {
	display: flex;
	column-gap: 1vw;
}

.input-text {
	width: auto;
	min-width: 60vw;
	min-height: 35vh;
	max-height: 60vh;
	overflow-x: hidden;
	overflow-y: scroll;
	resize: vertical;
}

.input-monoline {
	height: 3vh;
	padding: 0%;
}

.title-sma {
	font-size: large;
}

.title-med {
	font-size: larger;
}

.title-big {
	font-size: x-large;
}

.note-content {
	-webkit-text-fill-color: gray;
}

#root {
	margin: 0 auto;
	padding: 1vw;
}

#modal {
	min-width: 60vw;
	max-width: 80vw;
}
